<div class="body-complete">
  <div class="header">
    <div class="row-search">
      <span class="title blue">Search</span>
      <span class="title purple">d_evs</span>
    </div>

    <div>
      <span class="p-input-icon-left">
        <i
          class="pi pi-search"
          [ngStyle]="{ color: textError ? '#ff6259' : '' }"
        >
        </i>
        <input
          type="text"
          class="search-input"
          pInputText
          [(ngModel)]="userName"
          placeholder="Search"
          [ngClass]="{ 'input-error': textError }"
          (keydown.enter)="searchUserProfile()"
        />
      </span>
    </div>
  </div>

  <div class="body-profile">
    <div class="user-perfil">
      <div class="box-perfil">
        <div class="user-info">
          <div class="info">
            <img [src]="userProfile?.avatar_url" class="user-image" />
            <div class="name-info">
              <span class="name">{{ userProfile?.name || "-" }}</span>
              <span class="login">{{
                userProfile?.login ? "@" + userProfile.login : "-"
              }}</span>
            </div>
          </div>
          <span class="bio">{{ userProfile?.bio || "-" }}</span>
        </div>

        <div class="user-info">
          <div class="info">
            <i class="pi pi-users"></i>
            <span>{{ userProfile?.followers + " seguidores" }}</span>
          </div>

          <div class="info">
            <i class="pi pi-heart"></i>
            <span>{{ userProfile?.following + " seguindo" }}</span>
          </div>
        </div>

        <div class="user-info">
          <div class="info">
            <i class="pi pi-building"></i>
            <span>{{ userProfile?.company || "-" }}</span>
          </div>
          <div class="info">
            <i class="pi pi-map-marker"></i>
            <span>{{ userProfile?.location || "-" }}</span>
          </div>
          <div class="info">
            <i class="pi pi-envelope"></i>
            <span>{{ userProfile?.email || "-" }}</span>
          </div>
          <div
            class="info cursor-pointer"
            *ngIf="userProfile?.blog"
            (click)="goToBlogProfile()"
          >
            <i class="pi pi-link"></i>
            <span>{{ userProfile?.blog }}</span>
          </div>
          <div
            class="info cursor-pointer"
            *ngIf="userProfile?.twitter_username"
            (click)="goToTwitterProfile()"
          >
            <i class="pi pi-twitter"></i>
            <span>{{ userProfile?.twitter_username }}</span>
          </div>
        </div>
      </div>

      <div class="div-button">
        <button
          pButton
          pRipple
          type="button"
          label="Contato"
          class="p-button-help contact-button"
          (click)="goToGithubProfile()"
        ></button>
      </div>
    </div>

    <div class="repo-list">
      <ng-container *ngFor="let repo of profileRepos">
        <div class="repo-info">
          <span class="repo-title" (click)="goToGithubRepo(repo)">{{
            repo?.name || ""
          }}</span>

          <span class="repo-description">
            {{ repo?.description || "" }}
          </span>

          <div class="repo-row">
            <i class="pi pi-star"></i>
            <span>{{ repo?.stargazers_count }}</span>
            <span>•</span>
            <span>{{
              repo?.updated_at
                ? "Atualizado em " +
                  (repo?.updated_at | date : "dd/MM/yyyy HH:mm")
                : "Sem atualização"
            }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
